---
---
$primary-color: #128aa8;
$bg-color: $primary-color;
$page-color: #fff;
$link-color: darken($primary-color, 5%);
$font-family: "Segoe UI", "Helvetica Neue", sans-serif;

@import 'normalize';
@import 'syntax';
@import 'h5bp';

@import 'base';
@import 'article';
@import 'home';
@import 'resume';