---
---

@import 'normalize';
@import 'syntax';
@import 'h5bp';

$bg-color: #128aa8;
$padding: 30px;

html {
  background: $bg-color;
}
body {
  -webkit-font-smoothing: antialiased;
  overflow-y: scroll;
  line-height: 1.5;
  font-family: "Segoe UI", "Helvetica Neue", sans-serif;
}
a {
  color: darken($bg-color, 5%);
  text-decoration: none;
  border-bottom: dashed 1px;
  border-color: rgb(18, 138, 168);
  border-color: rgba(18, 138, 168, 0.3);
  
  &:hover {
    border-bottom-style: solid;
  }
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.05;
  margin: 0.8em 0 0 0;
}
pre, code {
  font: 13px Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 1.45;
}

.container {
  position: relative;
  margin: 0 auto;
}

.content {
  margin: 6px auto 0 auto; 
  padding: 10px 30px;
  background: #fff;
}

.article-header {
  margin: 0.2em 0 0 0;
}
.article-title {
  margin: 0;
}
.logo {
  color: $bg-color;
  font-size: 1.3em;
  font-weight: bold;
  text-decoration: none;
  position: relative;
  top: 3px;
  border: none;
  
  &:hover {
    color: lighten($bg-color, 3%);
    border: none;
  }   
}
.article-meta {
  color: #999;
}
.article-footer {
  margin: 2em 0 0.5em 0;
  text-align: center;
  color: darken(#b2b2b2, 20%);
}

.home-blurb {
  font-size: 1.5em;
  text-align: center;
  color: darken($bg-color, 5%);
}
.link-list {
  list-style: none;
  margin: 0.7em 0;
  padding: 0 1em;
  
  & > li {
      
  } 
  p {
    margin-top: 0;
  }
}

@media only screen and (max-width: 45em) {
  html {
    font-size: 0.95em;
  }
  .content {
    padding: 10px;
  }
  .home-blurb {
    font-size: 1.3em;
  }
  .link-list {
    padding: 0 0.5em;
  }
}
@media only screen and (min-width: 45em) {
  .container {
    width: 45em;
  }
}
