---
layout: default
title: Tim Hall
---
<p class="home-blurb">I'm Tim Hall and I LOVE creating things.</p>
<p>From LEGO as a little kid (and a big kid too), to a MS in Mechanical Engineering, to my recent journeys in programming, 
  I'm obsessed with creation and the opportunity to shape this world.</p>

<h2>Contact</h2>
<ul class="link-list">
  <li><a href="mailto:tim.hall.engr@gmail.com">tim.hall.engr@gmail.com</a></li>
</ul>

<h2>Projects</h2>
<ul class="link-list">
  {% for project in site.data.projects %}
    <li>
      <a href="{{ project.link }}" target="_blank">{{ project.name }}</a>
      {% if project.description %}<p>{{ project.description }}</p>{% endif %}
    </li>
  {% endfor %}
  <li>
    <a href="https://github.com/timhall/" target="_blank">and more!</a>
  </li>
</ul>

<h2>Articles</h2>
<ul class="link-list">
  {% for article in site.articles %}
    {% unless article.draft %}
      <li>
        <a href="{{ article.url }}">{{ article.title }}</a>
      </li>
    {% endunless %}
  {% endfor %}
</ul>

<h2>Publications</h2>
<ul class="link-list">
  {% for project in site.data.publications %}
    <li>
      <a href="{% if project.local %}{{ site.baseurl }}{% endif %}{{ project.link }}" target="_blank">{{ project.name }}</a>
      {% if project.description %}<p>{{ project.description }}</p>{% endif %}
    </li>
  {% endfor %}
</ul>