$resume-color: #ddd;
$resume-border-width: 3px;
$professional-color: $primary-color;
$project-color: darken(#fc3, 10%);

.resume {
  
}

.resume-section {
  @extend .column;
  @extend .clearfix;

  &.type-experience {
    @extend .column-left;
  }
  &.type-projects {
    @extend .column-right;
  }

  h2 {
    margin: 0.2em 0 0.6em 0;
  }
}

.resume-item {
  border-left: solid $resume-border-width $resume-color;
  padding-left: 14px;
  margin-bottom: 20px;

  &:last-child {
    margin-bottom: 0;
  }
  .type-experience & {
    border-left-color: $professional-color;
  }
  .type-projects & {
    border-left-color: $project-color;
  }

  .company, .project {
    font-weight: bold;
  }

  .location {
    &:before {
      content: ", ";
      margin-left: -0.2em;
    }
  }

  .titles {
    list-style: none;
    margin: 0 0 6px 0;
    padding: 0;

    & > li {
      display: block;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .title {
    margin-right: 4px;
  }

  .date {
    
  }

  .start-date {
    &:after {
      content: " - ";
    }
  }

  .end-date {

  }

  .blurb {
    & > p:first-child {
      margin-top: 0;
    }
  }

  .details {
    padding-left: 1.5em;
    list-style-type: disc;
    margin: 0.5em 0 0 0;

    & > li > p {
      margin: 0;
    }
  }

  .project {
    font-weight: bold;
  }

  .github-star {
    vertical-align: sub;
    margin-left: 4px;
  }
}

// Media
// ----------------------------------------------------- //

@media only screen and (max-width: 720px) {
  .resume-section:nth-child(2) h2 {
    margin-top: 1em;
  }
}
