$timeline-color: #ddd;
$timeline-color-light: lighten($timeline-color, 8%);
$timeline-gap: 28px;
$timeline-border-width: 3px;
$timeline-top-padding: 11px;
$timeline-left-padding: 6px;
$timeline-icon-width: 12px;
$project-gap: 0px;
$professional-color: $primary-color;
$project-color: darken(#fc3, 10%);

.timeline {
  @extend .clearfix;
  list-style: none;
  margin: 0;
  padding: 5px 0 5px $timeline-gap;
  border-left: solid $timeline-border-width $timeline-color-light;
}

.timeline-item {
  @extend .column;
  position: relative;
  border-left: solid $timeline-border-width $timeline-color;
  padding-left: 14px;
  margin-bottom: 20px;

  &:before {
    content: "";
    position: absolute;
    top: $timeline-top-padding;
    height: $timeline-border-width;
    background-color: $timeline-color-light;
  }

  &.type-professional {
    @extend .column-left;
    border-left-color: $professional-color;

    &:before {
      left: -$timeline-gap - 2px;
      width: $timeline-gap - $timeline-left-padding + 5px;
    }
    .type-icon {
      left: -$timeline-gap - $timeline-icon-width + 2px;
    }
  }
  &.type-project {
    @extend .column-right;
    margin-left: $project-gap;
    border-left-color: $project-color;

    &:before {
      left: -$timeline-gap - 2px - $project-gap;
      width: $timeline-gap - $timeline-left-padding + 5px + $project-gap;
    }
    .type-icon {
      left: -$timeline-gap - $timeline-icon-width + 2px - $project-gap;
    }
  }

  .type-icon {
    border-radius: 50%;
    width: $timeline-icon-width;
    height: $timeline-icon-width;
    position: absolute;
    top: 6px;
    background-color: $timeline-color;
  }

  .company {
    font-weight: bold;

    &:after {
      content: ", ";
      font-weight: normal;
      margin-right: 2px;
    }
  }

  .location {
    
  }

  .titles {
    list-style: none;
    margin: 0 0 6px 0;
    padding: 0;

    & > li {
      display: block;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  .title {
    margin-right: 4px;
  }

  .dates {
    
  }

  .date {
    
  }

  .date-name {
    
  }
  .date-month {
    line-height: 1.0em;
  }
  .date-year {
    line-height: 1.0em;
  }
  .date-range {
    padding: 0 2px;
  }

  .start-date {
    
  }

  .end-date {

  }

  .blurb {
    & > p:first-child {
      margin-top: 0;
    }
  }

  .professional-details {
    padding-left: 1.5em;
    list-style-type: disc;
    margin: 0.5em 0 0 0;

    & > li > p {
      margin: 0;
    }
  }

  .project {
    font-weight: bold;
  }

  .github-star {
    vertical-align: sub;
    margin-left: 4px;
  }
}

// Media
// ----------------------------------------------------- //

@media only screen and (max-width: 45em) {
  
}