---
layout: default
columns: 2
title: Timeline
---

<article class="timeline">
  {% for item in site.data.about.timeline %}
    {% if item.type == "professional" %}
      <section class="timeline-item type-professional">
        <i class="type-icon"></i>
        <span class="company">{{ item.company }}</span>
        <span class="location">{{ item.location }}</span>
        <ul class="titles">
        {% for title in item.titles %}
          <li>
            <span class="title">{{ title.title }}</span>&mdash;
            <span class="dates">
              <time class="date start-date">
                {% if title.start_date.name %}
                <span class="date-name">{{ title.start_date.name }}</span>
                {% else %}
                <span class="date-month">{{ title.start_date.month }}</span>
                <span class="date-year">{{ title.start_date.year }}</span>
                {% endif %}
              </time>
              <span class="date-range">-</span>
              <time class="date end-date">
                {% if title.end_date.name %}
                <span class="date-name">{{ title.end_date.name }}</span>
                {% else %}
                <span class="date-month">{{ title.end_date.month }}</span>
                <span class="date-year">{{ title.end_date.year }}</span>
                {% endif %}
              </time>
            </span>
          </li>
        {% endfor %}
        </ul>
        {% if item.blurb %}
        <div class="blurb">
          {{ item.blurb | markdownify }}
        </div>
        {% endif %}
        <ul class="professional-details">
          {% for detail in item.details %}
            <li>{{ detail | markdownify }}</li>
          {% endfor %}
        </ul>
      </section>
    {% endif %}
    {% if item.type == "project" %}
      <section class="timeline-item type-project">
        <i class="type-icon"></i>
        <span class="project">{{ item.project }}</span>
        {% if item.github %}
          <iframe src="https://ghbtns.com/github-btn.html?user={{ item.github.user }}&repo={{ item.github.repo }}&type=star&count=true" 
            class="github-star" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
        {% endif %}
        {% if item.blurb %}
        <div class="blurb">
          {{ item.blurb | markdownify }}
        </div>
        {% endif %}
        {% if item.example %}
        <div class="example">
          {{ item.example | markdownify }}
        </div>
        {% endif %}
      </section>
    {% endif %}
  {% endfor %}
</article>