---
import { getCollection } from "astro:content";
import Page from "../layouts/page.astro";
const articles = await getCollection("articles");
---

<Page>
	<h1>Tim Hall</h1>

	<h2>Articles</h2>
	<ul>
		{
			articles.map((article) => (
				<li>
					<a href={`/articles/${article.data.slug}`}>{article.data.title}</a>
				</li>
			))
		}
	</ul>
</Page>
