---
layout: default
columns: 2
title: Resume
---

<article class="resume">
  <section class="resume-section type-experience">
    <h2>Experience</h2>
    {% for item in site.data.resume.experience %}
      <section class="resume-item">
        <span class="company">{{ item.company }}</span>
        <span class="location">{{ item.location }}</span>
        <ul class="titles">
        {% for title in item.titles %}
          <li>
            <span class="title">{{ title.title }}</span>&mdash;
            <time class="date start-date">{{ title.start_date }}</time>
            <time class="date end-date">{{ title.end_date }}</time> 
          </li>
        {% endfor %}
        </ul>
        {% if item.blurb %}
          <div class="blurb">
            {{ item.blurb | markdownify }}
          </div>
        {% endif %}
        <ul class="details">
          {% for detail in item.details %}
            <li>{{ detail | markdownify }}</li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}
  </section>
  <section class="resume-section type-projects">
    <h2>Projects</h2>
    {% for item in site.data.resume.projects %}
      <section class="resume-item">
        <span class="project">{{ item.project }}</span>
        {% if item.github %}
          <iframe src="https://ghbtns.com/github-btn.html?user={{ item.github.user }}&repo={{ item.github.repo }}&type=star&count=true" 
            class="github-star" frameborder="0" scrolling="0" width="100px" height="20px"></iframe>
        {% endif %}
        {% if item.blurb %}
          <div class="blurb">
            {{ item.blurb | markdownify }}
          </div>
        {% endif %}
        {% if item.example %}
          <div class="example">
            {{ item.example | markdownify }}
          </div>
        {% endif %}
      </section>
    {% endfor %}
  </section>
</article>