---

---

<style>
	footer {
		margin: 1rem 0 0.5rem 0;
		text-align: center;
	}
	nav {
		display: inline-block;
	}
	li {
		display: inline-block;
	}
</style>

<footer>
	&copy; {new Date().getFullYear()} Tim Hall - <nav>
		<li><a href="/">Home</a></li> |
		<li><a href="https://github.com/timhall">GitHub</a></li>
	</nav>
</footer>
