---
type Props = {
	title?: string;
	publishedAt?: Date | null;
	updatedAt?: Date | null;
};

const tagline = "Creative code and engineering";
const { title } = Astro.props;

const publishedAt = Astro.props.publishedAt?.toLocaleDateString("en-US", {
	year: "numeric",
	month: "short",
	day: "numeric",
});
const updatedAt = Astro.props.updatedAt?.toLocaleDateString("en-US", {
	year: "numeric",
	month: "short",
	day: "numeric",
});
---

<style>
	header {
		display: flex;
		flex-direction: row;
		align-items: flex-start;
		gap: 0.6rem;
		padding-top: 0.6rem;
	}
	.logo {
		border: none;
		text-decoration: none;
		font-size: 2.8rem;
		line-height: 1;
		font-weight: 700;
	}
	h1 {
		font-weight: 600;
	}
	.metadata {
		color: var(--muted-color);
	}
</style>
<header>
	<a class="logo" href="/">TH</a>
	<hgroup>
		<h1>{title}</h1>
		<div class="metadata">
			{
				!!publishedAt ? (
					<>
						<span>Tim Hall</span>
						<span>- {publishedAt}</span>
						{updatedAt && <span>(Last updated {updatedAt})</span>}
					</>
				) : (
					tagline
				)
			}
		</div>
	</hgroup>
</header>
