---
layout: blank
---
<header class="article-header{% if page.columns %} two-column{% endif %}">
  <h1 class="article-title"><a class="logo" href="/">TH</a> {{ page.title }}</h1>
  <span class="article-meta">{% if page.meta %}{{ page.meta }}{% else %}{{ site.tagline }}{% endif %}</span>
</header>
<article class="article-content{% if page.columns %} two-column{% endif %}">
  {{ content }}
</article>
<footer class="article-footer{% if page.columns %} two-column{% endif %}">
  &copy; 2015 Tim Hall - {{ site.tagline }}
</footer>